<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}|{{ config.APP_TITLE }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/solid.css" integrity="sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe" crossorigin="anonymous"> #}

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">


    <link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}">
    <style>
      {% if config.BACKGROUND_COLOR %}
      body {
        background-color: {{ config.BACKGROUND_COLOR }};
      }
      {% endif %}
    </style>
    {% block styles %}{% endblock %}
  
    {# we need jquery to send post requests. for some reason d3-fetch wasn't behaving, at least in chrome #}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('.static', filename='js/d3-mods.js') }}"></script>
  </head>
  <body>

    {% block nav %}
    {#  navbar-light bg-light #}
      <nav class="navbar navbar-expand-lg fixed-bottom {% block nav_classes %}{% endblock %}">

        {% block action_section %}
          <div class='menu-actions'>
            {% block actions %}{% endblock %}

            <span id="messages"></span>
          </div>
        {% endblock %}
        

        {% block nav_brand %}
          <a class="navbar-brand" href="{{ url_for('.calendar') }}">{{ config.APP_TITLE }}</a>
        {% endblock %}

        {% block nav_links %}
          <div>
            {% if parent_page %}<a class="badge badge-light ml-1" href="{{ parent_page }}"><i class='fa fa-home'></i></a>{% endif %}
            <a class="badge badge-light ml-1 load-query {{ 'ajax d-none' if not prev_query }}" href="{{ prev_query or '' }}" id='prev_query'>&larr;</a>
            <a class="badge badge-light ml-1 load-query {{ 'ajax d-none' if not next_query }}" href="{{ next_query or '' }}" id='next_query'>&rarr;</a>
          </div>
        {% endblock %}

        

        {% block nav_content %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" 
                  aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
          </button>

          <div class="collapse navbar-collapse ml-1" id='navbarContent'>
            <form class="form-inline my-2 my-lg-0" id='controls'>
              {% block controls %}{% endblock %}
              
              <span id="messages"></span>
            </form>
          </div>
        {% endblock %}
        
      </nav>  
    {% endblock %}

  	{% block content %}{% endblock %}

	<script>
    var config = {{ config|tojson }};
		var BASE_URL = config.BASE_URL;
    var CURRENT_USER = '{{ current_user }}';

    console.log(config);
	</script>
  	{% block scripts %}{% endblock %}
  </body>
</html>
