{% extends 'base.j2' %}

{% block nav_brand %}
  {{ super() }}
  <small class='badge badge-light'>{{ title }}</small>
{% endblock %}

{% block nav_content %}
    <div class="collapse navbar-collapse"></div>

    {% if set_cookie_button %}
      <button class="btn btn-outline-dark set-cookie mx-1" name='{{ set_cookie_button.name }}' value='{{ set_cookie_button.value }}'>
        {{ set_cookie_button.label }}
      </button>
    {% endif %}

    {% if links %}
      <div class="dropup show">
        <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="selectSample" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Table
        </a>

        <div class="dropdown-menu" aria-labelledby="selectSample">
        {% for link in links %}
          <a class="dropdown-item {{ 'active' if link.name == name }}" href="{{ link.url }}">{{ link.name }}</a>
        {% endfor %}
        </div>
      </div>
    {% endif %}
{% endblock %}


{% block content %}
  

	<table class="table text-light">
    <thead>
      <tr>
        {% for c in columns %}
          <th scope="col">{{ c }}</th>
        {% endfor %}
      </tr>
    </thead> 
    <tbody>
      {% for row in data %}
        <tr>
          {% for c in columns %}
            <td>{{ row[c] }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if stats %}
    <table class="table text-light">
      <thead>
        <tr>
          {% for name in stats %}
            <th scope="col">{{ name }}</th>
          {% endfor %}
        </tr>
      </thead> 
      <tbody>
        <tr>
          {% for name in stats %}
            <td>{{ stats[name] }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  {% endif %}
{% endblock %}

{# {% block modal %}{% include 'partials/modal.j2' %}{% endblock %}

{% block modal_body %}
  <form action='' class='container'>
    <div class='row'>
      <div class='form-group'>
        
      </div>
    </div>
  </form>
{% endblock %} #}

{% block scripts %}{% endblock %}

