{% extends 'base.j2' %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/video.css') }}">
  {% if config.VIDEO_BACKGROUND_COLOR %}
    <style>
      body {
        background-color: {{ config.VIDEO_BACKGROUND_COLOR }};
      }
    </style>
  {% endif %}
{% endblock %}


{% block nav_classes %} collapsed{% endblock %}

{% block actions %}
  <span id='expand-nav' title='More Options'><i class="fas fa-sliders-h"></i></span>

  <span id='rewind' title='Jump Backwards'><i class="fas fa-backward"></i></span>
  <span id='step-back' title='Step Backwards'><i class="fas fa-caret-left"></i></span>

  <span id='play-pause' title='Play/Pause'><i class="fas fa-play"></i></span>

  <span id='step-forward' title='Step Forwards'><i class="fas fa-caret-right"></i></span>
  <span id='fastforward' title='Jump Forwards'><i class="fas fa-forward"></i></span>

  <span id='toggle-original' title='Toggle Original'><i class="fas fa-image"></i></span>

  <span id='mark-unreviewed' title='Mark Unreviewed'>
    <span class="fa-layers fa-fw">
      <i class="far fa-square"></i>
      <i class="fas fa-exclamation" data-fa-transform="shrink-6"></i>
    </span>
  </span>
{% endblock %}


{% block controls %}
  <div class='form-group'>
    <label for="videoSpeed">Video Speed</label>
    <input class='form-control mx-2' type="range" min="{{ config.SPEED.MIN }}" max="{{ config.SPEED.MAX }}" step="{{ config.SPEED.STEP }}" value='{{ config.SPEED.DEFAULT }}' style='direction: rtl' id="videoSpeed">
  </div>
  <div class='form-group'>
    <label for="imgFilter">Image Filter</label>
    <select class='form-control custom-select custom-select-sm mx-2' id="imgFilter"></select>
  </div>
  <button class="btn btn-success my-sm-0 mx-2" id='save' type='button'>Save</button>
{% endblock %}




{% block content %}
  <div id="tooltip"></div>
  <div id="video-timeline"></div>
	<div id="grid"></div>
{% endblock %}



{% block scripts %}
	<script>
		var img_filters = {{ filters|tojson }};
    var query = '{{ query }}';
    var sample_name = '{{ sample_name }}';
	</script>
	
	<script src="{{ url_for('.static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/video.js') }}"></script>
	<script>
    loadImagesFromQuery(query);
  </script>
{% endblock %}

