{% extends 'base.j2' %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/video.css') }}">
  {% if config.VIDEO_BACKGROUND_COLOR %}
    <style>
      body {
        background-color: {{ config.VIDEO_BACKGROUND_COLOR }};
      }
    </style>
  {% endif %}
{% endblock %}

{% block nav %}
{#  navbar-light bg-light #}
  <nav class="navbar navbar-expand-lg fixed-bottom collapsed">
    <div class='menu-actions'>
      <i class="fas fa-sliders-h" id='expand-nav' title='More Options'></i>
      <i class="fas fa-backward" id='rewind' title='Jump Backwards'></i>
      <i class="fas fa-caret-left" id='step-back' title='Step Backwards'></i>
      <i class="fas fa-play" id='play-pause' title='Play/Pause'></i>
      <i class="fas fa-caret-right" id='step-forward' title='Step Forwards'></i>
	  <i class="fas fa-forward" id='fastforward' title='Jump Forwards'></i>
	  <i class="fas fa-image" id='toggle-original' title='Toggle Original'></i>
      <span id="messages"></span>
    </div>
    
    <a class="navbar-brand" href="{{ url_for('.calendar') }}">{{ config.APP_TITLE }}</a>

    <div>
      <a class="badge badge-light ml-1 load-query" id='prev_query'>&larr;</a>
      <a class="badge badge-light ml-1 load-query" id='next_query'>&rarr;</a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    

    <div class="collapse navbar-collapse ml-1" id='navbarContent'>
      <form class="form-inline my-2 my-lg-0" id='controls'>
        <div class='form-group'>
          <label for="videoSpeed">Video Speed</label>
          <input class='form-control mx-2' type="range" min="{{ config.SPEED.MIN }}" max="{{ config.SPEED.MAX }}" step="{{ config.SPEED.STEP }}" value='{{ config.SPEED.DEFAULT }}' style='direction: rtl' id="videoSpeed">
        </div>
        <div class='form-group'>
          <label for="imgFilter">Image Filter</label>
          <select class='form-control custom-select custom-select-sm mx-2' id="imgFilter"></select>
        </div>
        <button class="btn btn-success my-sm-0 mx-2" id='save' type='button'>Save</button>
        
        <span id="messages"></span>
      </form>
    </div>
  </nav>
{% endblock %}


{% block content %}
  <div id="tooltip"></div>
  <div id="video-timeline"></div>
	<div id="grid"></div>
{% endblock %}

{% block scripts %}
	<script>
		var img_filters = {{ filters|tojson }};
    var query = '{{ query }}';
	</script>
	
	<script src="{{ url_for('.static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/video.js') }}"></script>
	<script>
    loadImagesFromQuery(query);
  </script>
{% endblock %}

