.bubble-loader {
  font-size: 2em;
  padding: 0 1em 1em;
  margin: 0 auto 0;
  overflow: hidden;
  border-top: 2px solid darkblue;
  
}

.bubble-loader .goo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  filter: url(#goo);
}

.bubble-loader .dot {
  background: #1dacff;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  margin: -0.3em -0.5em 0;
  opacity: 0.5;
}


@keyframes bubble-loader {
  50% {
    transform: translateY(-0.2em);
    background-color: #1b98e0;
  }

}

